// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.right-label{
  margin-left: 5px;
}
.right-label-ref {
  margin-left: 28px;
}
.right-dropdown {
  margin-left: 10px;
}
div.photo {
  margin-bottom: 5px;
}
input#customer_photo {
  margin-top: 5px;
}
input#customer_sig {
  margin-top: 5px;
}
