<h1>Listing referrers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @referrers.each do |referrer| %>
      <tr>
        <td><%= link_to referrer.name, referrer %></td>
        <td><%= link_to 'Edit', edit_referrer_path(referrer) %></td>
        <td><%= link_to 'Delete', referrer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Referrer', new_referrer_path %>
